PORT=3000
JWT_SECRET=your-jwt-secret
THROTTLE_TTL=60000
THROTTLE_LIMIT=100

AUTH_SERVICE_URL=http://localhost:3001
USER_PET_SERVICE_URL=http://localhost:3002
ESTABLISHMENT_SERVICE_URL=http://localhost:3003
MARKETPLACE_SERVICE_URL=http://localhost:3004
BOOKING_SERVICE_URL=http://localhost:3005
NOTIFICATION_SERVICE_URL=http://localhost:3006
REVIEW_SERVICE_URL=http://localhost:3007
FAQ_SERVICE_URL=http://localhost:3008
